rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /shares/{id} {
      allow read: if true;
      allow create: if request.resource.data.md is string
                    && request.resource.data.md.size() < 500000;
      allow update: if request.resource.data.md is string
                    && request.resource.data.md.size() < 500000
                    && request.resource.data.imgs.size() < 50;
      allow delete: if false;
    }

    match /clicker/{id} {
      allow read: if true;
      allow write: if true;
    }
  }
}
